<div class="container">
  <h2>Register New Property</h2>
  <hr/>
  <form (ngSubmit)="submit()" [formGroup]="propertyForm">
    <div class="form-group">
      <label for="from">Property Name</label>
      <input
        class="form-control"
        formControlName="name"
        id="from"
        name="from"
        placeholder="Enter name for the property"
      />
      <small *ngIf="propertyForm.get('name').errors?.serverError" class="text-danger">
        {{propertyForm.get('name').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="numberOfBedrooms">Number of bedrooms</label>
      <input
        class="form-control"
        formControlName="numberOfBedrooms"
        id="numberOfBedrooms"
        placeholder="Enter the number of bedrooms"
        type="number"
      />
      <small *ngIf="propertyForm.get('numberOfBedrooms').errors?.serverError" class="text-danger">
        {{propertyForm.get('numberOfBedrooms').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="numberOfBathrooms">Number of bathrooms</label>
      <input
        class="form-control"
        formControlName="numberOfBathrooms"
        id="numberOfBathrooms"
        placeholder="Enter the number of bathrooms"
        type="number"
      />
      <small *ngIf="propertyForm.get('numberOfBathrooms').errors?.serverError" class="text-danger">
        {{propertyForm.get('numberOfBathrooms').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="price">Price (in million HUF)</label>
      <input
        class="form-control"
        formControlName="price"
        id="price"
        placeholder="Enter the price"
        type="number"
      />
      <small *ngIf="propertyForm.get('price').errors?.serverError" class="text-danger">
        {{propertyForm.get('price').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="description">Description</label>
      <textarea
        aria-multiline="true"
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Enter description"
        rows="3"
      ></textarea>
      <small *ngIf="propertyForm.get('description').errors?.serverError" class="text-danger">
        {{propertyForm.get('description').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="from">Address</label>
      <input
        class="form-control"
        formControlName="address"
        id="address"
        name="address"
        placeholder="Enter the address of the property"
      />
      <small *ngIf="propertyForm.get('address').errors?.serverError" class="text-danger">
        {{propertyForm.get('address').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="floorArea">Floor area</label>
      <input
        class="form-control"
        formControlName="floorArea"
        id="floorArea"
        placeholder="Enter the floor area"
        type="number"
      />
      <small *ngIf="propertyForm.get('floorArea').errors?.serverError" class="text-danger">
        {{propertyForm.get('floorArea').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="images">Images</label>
      <input
        class="form-control"
        formControlName="images"
        id="images"
        placeholder="Enter the urls for the images separated by ;"
      />
      <small *ngIf="propertyForm.get('images').errors?.serverError" class="text-danger">
        {{propertyForm.get('images').errors['serverError']}}
      </small>
    </div>

    <div class="form-group py-2">
      <div class="form-check form-switch">
        <label class="form-check-label" for="airConditioning">Air conditioning</label>
        <input class="form-check-input" type="checkbox" id="airConditioning" formControlName="airConditioning">
      </div>
    </div>


    <div class="form-group">
      <label for="propertyType">Type of property:</label>
      <select class="form-select"
              aria-label="propertyType"
              formControlName="propertyType"
              id="propertyType"
              [ngClass]="{'is-invalid': (propertyForm.get('propertyType')?.invalid && propertyForm.get('propertyType')?.touched)
    || (propertyForm.get('propertyType')?.errors?.['serverError'])}"
      >

        <option *ngFor="let propertyType of propertyTypeList" value="{{propertyType.name}}">
          {{propertyType.displayName}}</option>
      </select>
      <small *ngIf="propertyForm.get('propertyType')?.errors?.['serverError']" class="text-danger">
        {{propertyForm.get('propertyType')?.errors!['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="heatingType">Type of heating:</label>
      <select class="form-select"
              aria-label="heatingType"
              formControlName="heatingType"
              id="heatingType"
              [ngClass]="{'is-invalid': (propertyForm.get('heatingType')?.invalid && propertyForm.get('propertyType')?.touched)
    || (propertyForm.get('heatingType')?.errors?.['serverError'])}"
      >

        <option *ngFor="let heatingType of heatingTypeList" value="{{heatingType.name}}">
          {{heatingType.displayName}}</option>
      </select>
      <small *ngIf="propertyForm.get('heatingType')?.errors?.['serverError']" class="text-danger">
        {{propertyForm.get('heatingType')?.errors!['serverError']}}
      </small>
    </div>

    <div class="form-group py-2">
      <div class="form-radio">
        <input class="form-check-input" type="radio" name="listingType" id="listingType-sale" formControlName="listingType" value="For sale">
        <label class="form-check-label" for="listingType-sale">
          For sale
        </label>
      </div>
      <div class="form-radio">
        <input class="form-check-input" type="radio" name="listingType" id="listingType-rent" formControlName="listingType" value="For rent">
        <label class="form-check-label" for="listingType-rent">
          For rent
        </label>
      </div>

      <small *ngIf="propertyForm.get('images').errors?.serverError" class="text-danger">
        {{propertyForm.get('images').errors['serverError']}}
      </small>
    </div>


    <br/>
    <button class="btn btn-primary my-buttons">Save Property</button>
  </form>
</div>
