<div class="container">
  <h2>Register New Property</h2>
  <hr/>
  <form [formGroup]="propertyForm">
    <div class="form-group">
      <label for="from">Property Name</label>
      <input
        class="form-control"
        formControlName="name"
        id="from"
        name="from"
        placeholder="Enter name for the property"
        [ngClass]="{'is-invalid': (propertyForm.get('name')?.invalid && propertyForm.get('name')?.touched)
    || (propertyForm.get('name')?.errors?.['serverError'])}"
      />
      <small *ngIf="propertyForm.get('name').errors?.serverError" class="text-danger">
        {{propertyForm.get('name').errors['serverError']}}
      </small>
      <small *ngIf="propertyForm.get('name')?.invalid && propertyForm.get('name')?.touched
  && !propertyForm.get('name')?.errors?.['serverError']" class="text-danger">
        Please enter the name of the property, at least 3 characters
      </small>
    </div>

    <div class="form-group">
      <label
        for="numberOfBedrooms">Number of bedrooms</label>
      <input
        class="form-control"
        formControlName="numberOfBedrooms"
        id="numberOfBedrooms"
        placeholder="Enter the number of bedrooms"
        type="number"
        [ngClass]="{'is-invalid': (propertyForm.get('numberOfBedrooms')?.invalid && propertyForm.get('numberOfBedrooms')?.touched)
    || (propertyForm.get('numberOfBedrooms')?.errors?.['serverError'])}"
      />
      <small *ngIf="propertyForm.get('numberOfBedrooms').errors?.serverError" class="text-danger">
        {{propertyForm.get('numberOfBedrooms').errors['serverError']}}
      </small>
      <small *ngIf="propertyForm.get('numberOfBedrooms')?.invalid && propertyForm.get('numberOfBedrooms')?.touched
  && !propertyForm.get('numberOfBedrooms')?.errors?.['serverError']" class="text-danger">
        Please enter the number of bedrooms >= 1
      </small>
    </div>

    <div class="form-group">
      <label
        for="numberOfBathrooms">Number of bathrooms</label>
      <input
        class="form-control"
        formControlName="numberOfBathrooms"
        id="numberOfBathrooms"
        placeholder="Enter the number of bathrooms"
        type="number"
        step="0.5"
        [ngClass]="{'is-invalid': (propertyForm.get('numberOfBathrooms')?.invalid && propertyForm.get('numberOfBathrooms')?.touched)
    || (propertyForm.get('numberOfBathrooms')?.errors?.['serverError'])}"
      />
      <small *ngIf="propertyForm.get('numberOfBathrooms').errors?.serverError" class="text-danger">
        {{propertyForm.get('numberOfBathrooms').errors['serverError']}}
      </small>
      <small *ngIf="propertyForm.get('numberOfBathrooms')?.invalid && propertyForm.get('numberOfBathrooms')?.touched
  && !propertyForm.get('numberOfBathrooms')?.errors?.['serverError']" class="text-danger">
        Please enter the number of bathrooms >= 1
      </small>
    </div>

    <div class="form-group">
      <label
        for="price">Price (in million HUF)</label>
      <input
        class="form-control"
        formControlName="price"
        id="price"
        placeholder="Enter the price"
        type="number"
        [ngClass]="{'is-invalid': (propertyForm.get('price')?.invalid && propertyForm.get('price')?.touched)
    || (propertyForm.get('price')?.errors?.['serverError'])}"
      />
      <small *ngIf="propertyForm.get('price').errors?.serverError" class="text-danger">
        {{propertyForm.get('price').errors['serverError']}}
      </small>
    </div>

    <div class="form-group pb-2">
      <label
        for="description">Description</label>
      <textarea
        aria-multiline="true"
        class="form-control"
        formControlName="description"
        id="description"
        placeholder="Enter description"
        rows="3"
        [ngClass]="{'is-invalid': (propertyForm.get('description')?.invalid && propertyForm.get('description')?.touched)
    || (propertyForm.get('description')?.errors?.['serverError'])}"
      ></textarea>
      <small *ngIf="propertyForm.get('description').errors?.serverError" class="text-danger">
        {{propertyForm.get('description').errors['serverError']}}
      </small>
    </div>

    <div style="border: lightgreen 2px solid" class="p-1">
      <app-address-map (mapPointUpdated)="loadMapPoint($event)" [initialMapPoint]="initialMapPoint"></app-address-map>

      <div class="row">
        <div class="form-group col-3">
          <label
            for="postcode">Postcode</label>
          <input
            class="form-control"
            formControlName="postcode"
            id="postcode"
            placeholder="Enter the postcode"
            type="number"
            [ngClass]="{'is-invalid': (propertyForm.get('postcode')?.invalid && propertyForm.get('postcode')?.touched)
    || (propertyForm.get('postcode')?.errors?.['serverError'])}"
          />
          <small *ngIf="propertyForm.get('city').errors?.serverError" class="text-danger">
            {{propertyForm.get('postcode').errors['serverError']}}
          </small>
        </div>

        <div class="form-group col-3">
          <label
            for="city">City</label>
          <input
            class="form-control"
            formControlName="city"
            id="city"
            placeholder="Enter the city name"
            type="text"
            [ngClass]="{'is-invalid': (propertyForm.get('city')?.invalid && propertyForm.get('city')?.touched)
    || (propertyForm.get('city')?.errors?.['serverError'])}"
          />
          <small *ngIf="propertyForm.get('city').errors?.serverError" class="text-danger">
            {{propertyForm.get('city').errors['serverError']}}
          </small>
        </div>

        <div class="form-group col-3">
          <label
            for="road">Road</label>
          <input
            class="form-control"
            formControlName="road"
            id="road"
            placeholder="Enter the road name"
            type="text"
            [ngClass]="{'is-invalid': (propertyForm.get('road')?.invalid && propertyForm.get('road')?.touched)
    || (propertyForm.get('road')?.errors?.['serverError'])}"
          />
          <small *ngIf="propertyForm.get('road').errors?.serverError" class="text-danger">
            {{propertyForm.get('road').errors['serverError']}}
          </small>
        </div>

        <div class="form-group col-3">
          <label
            for="house_number">House number</label>
          <input
            class="form-control"
            formControlName="house_number"
            id="house_number"
            placeholder="Enter the house number"
            type="text"
            inputmode="numeric"
            [ngClass]="{'is-invalid': (propertyForm.get('house_number')?.invalid && propertyForm.get('house_number')?.touched)
    || (propertyForm.get('house_number')?.errors?.['serverError'])}"
          />
          <small *ngIf="propertyForm.get('house_number').errors?.serverError" class="text-danger">
            {{propertyForm.get('house_number').errors['serverError']}}
          </small>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-4">
          <label
            for="floor">Floor (optional)</label>
          <input
            class="form-control"
            formControlName="floor"
            id="floor"
            placeholder="Enter the floor of the apartment"
            type="number"
            [ngClass]="{'is-invalid': (propertyForm.get('floor')?.invalid && propertyForm.get('floor')?.touched)
    || (propertyForm.get('floor')?.errors?.['serverError'])}"
          />
          <small *ngIf="propertyForm.get('floor').errors?.serverError" class="text-danger">
            {{propertyForm.get('floor').errors['serverError']}}
          </small>
        </div>

        <div class="form-group col-4">
          <label
            for="door">Door number (optional)</label>
          <input
            class="form-control"
            formControlName="door"
            id="door"
            placeholder="Enter the door number"
            type="text"
            [ngClass]="{'is-invalid': (propertyForm.get('door')?.invalid && propertyForm.get('door')?.touched)
    || (propertyForm.get('door')?.errors?.['serverError'])}"
          />
          <small *ngIf="propertyForm.get('door').errors?.serverError" class="text-danger">
            {{propertyForm.get('door').errors['serverError']}}
          </small>
        </div>

      </div>
    </div>

    <div class="form-group">
      <label
        for="floorArea">Floor area</label>
      <input
        class="form-control"
        formControlName="floorArea"
        id="floorArea"
        placeholder="Enter the floor area"
        type="number"
        [ngClass]="{'is-invalid': (propertyForm.get('floorArea')?.invalid && propertyForm.get('floorArea')?.touched)
    || (propertyForm.get('floorArea')?.errors?.['serverError'])}"
      />
      <small *ngIf="propertyForm.get('floorArea').errors?.serverError" class="text-danger">
        {{propertyForm.get('floorArea').errors['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label
        for="images">Images</label>
      <input type="file" class="form-control" formArrayName="images" id="images" (change)="onFileChange($event)"
             multiple>
      <small class="text-danger"
             *ngIf="errorMessage">
        {{errorMessage}}
      </small>
      <div class="container my-3" *ngIf="urls.length > 0">
        <label for="imgs-to-upload">Selected images</label>
        <div class="container-fluid border border-1 p-1" id="imgs-to-upload">
          <img *ngFor="let url of urls" [src]="url" alt="property image" width="200px" class="img-thumbnail">
        </div>
      </div>

      <div class="container my-3" *ngIf="imagesFromServer.length > 0">
        <label for="imgs-to-upload">Existing images</label>
        <div class="container-fluid border border-1 p-1" id="imgs-from-server">
          <img *ngFor="let serverImage of imagesFromServer" [src]="serverImage" alt="property image" width="200px" class="img-thumbnail">
        </div>
      </div>

    </div>

    <div class="form-group py-2">
      <div class="form-check form-switch">
        <label class="form-check-label" for="airConditioning">Air conditioning</label>
        <input class="form-check-input" type="checkbox" id="airConditioning" formControlName="airConditioning"
               [ngClass]="{'is-invalid': (propertyForm.get('airConditioning')?.invalid && propertyForm.get('airConditioning')?.touched)
    || (propertyForm.get('airConditioning')?.errors?.['serverError'])}">
      </div>
    </div>


    <div class="form-group">
      <label for="propertyType">Type of property:</label>
      <select class="form-select"
              aria-label="propertyType"
              formControlName="propertyType"
              id="propertyType"
              [ngClass]="{'is-invalid': (propertyForm.get('propertyType')?.invalid && propertyForm.get('propertyType')?.touched)
    || (propertyForm.get('propertyType')?.errors?.['serverError'])}"
      >

        <option *ngFor="let propertyType of propertyTypeList" value="{{propertyType.name}}">
          {{propertyType.displayName}}</option>
      </select>
      <small *ngIf="propertyForm.get('propertyType')?.errors?.['serverError']" class="text-danger">
        {{propertyForm.get('propertyType')?.errors!['serverError']}}
      </small>
    </div>

    <div class="form-group">
      <label for="heatingType">Type of heating:</label>
      <select class="form-select"
              aria-label="heatingType"
              formControlName="heatingType"
              id="heatingType"
              [ngClass]="{'is-invalid': (propertyForm.get('heatingType')?.invalid && propertyForm.get('propertyType')?.touched)
    || (propertyForm.get('heatingType')?.errors?.['serverError'])}"
      >

        <option *ngFor="let heatingType of heatingTypeList" value="{{heatingType.name}}">
          {{heatingType.displayName}}</option>
      </select>
      <small *ngIf="propertyForm.get('heatingType')?.errors?.['serverError']" class="text-danger">
        {{propertyForm.get('heatingType')?.errors!['serverError']}}
      </small>
    </div>

    <div class="form-group py-2">
      <div class="form-radio">
        <input class="form-check-input" type="radio" name="listingType" id="listingType-sale"
               formControlName="listingType" value="For sale">
        <label class="form-check-label" for="listingType-sale">
          For sale
        </label>
      </div>
      <div class="form-radio">
        <input class="form-check-input" type="radio" name="listingType" id="listingType-rent"
               formControlName="listingType" value="For rent">
        <label class="form-check-label" for="listingType-rent">
          For rent
        </label>
      </div>

      <small *ngIf="propertyForm.get('images').errors?.serverError" class="text-danger">
        {{propertyForm.get('images').errors['serverError']}}
      </small>
    </div>


    <br/>
    <button class="btn btn-outline-success mb-5" [disabled]="propertyForm.invalid" *ngIf="!loading && !initialMapPoint" (click)="submit()">Save Property</button>
    <button class="btn btn-outline-success mb-5" [disabled]="propertyForm.invalid" *ngIf="!loading && initialMapPoint" (click)="edit()">Save Changes</button>
    <button class="btn btn-success" type="button" disabled *ngIf="loading">
      <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
      <span role="status"> Loading...</span>
    </button>
  </form>
</div>
