<div class="container">
  <div class="row">

    <!-- SIDEBAR -->
    <div class="col-md-2">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-4">
          <button class="btn btn-light"
                  (click)="goToUsers()"
                  (keyup.enter)="goToUsers()">
            Users
          </button>
        </li>
        <li class="list-group-item p-4">
          <button class="btn btn-light"
                  (click)="goToProperties()">
            Properties
          </button>
        </li>
      </ul>
    </div>

    <!-- CONTENT -->
    <div class="col-md-10">
      <div class="container-fluid p-4" [ngSwitch]="activePage">
        <!-- users -->
        <div *ngSwitchDefault>
          <h5>Manage Users</h5>
          <div class="row border-bottom p-4">
            <div class="btn-group my-3" role="group">
              <button type="button" class="btn btn-outline-success" (click)="getAllUsers()">All</button>
              <button type="button" class="btn btn-outline-success" (click)="getEnabledUsers()">Enabled</button>
              <button type="button" class="btn btn-outline-success" (click)="getDisabledUsers()">Disabled</button>
            </div>
          </div>

          <div class="container-fluid border-bottom p-2" *ngFor="let user of users">
            <div class="row">
              <div class="col-lg-2">
                <img class="user-img" [src]="user?.profilePicture" alt="profile picture">
              </div>
              <div class="col-lg-4">
                <p class="">{{user?.email}}</p>
              </div>
              <div class="col-lg-4">
                <p>{{user?.firstName}} {{user?.lastName}}</p>
              </div>
              <div class="col-lg-2 d-grid grid-gap-2">
                <button class="btn btn-outline-danger mb-1" *ngIf="user?.enabled" (click)="whoIsTheCurrentUser(user.id)" data-bs-toggle="modal" data-bs-target="#disableUserModal">Disable</button>
                <button class="btn btn-outline-success mb-1" *ngIf="!user?.enabled" (click)="changeUserStatus(true, user.id)">Enable</button>
                <button class="btn btn-outline-primary"
                        (click)="getOwnedProperties(user.id)"
                        data-bs-toggle="modal"
                        data-bs-target="#propertyModal">
                  Properties
                </button>
              </div>

              <!-- Disable User modal -->
              <div class="modal fade" id="disableUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Disable User</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to disable {{currentUser?.firstName}} {{currentUser?.lastName}}?
                        This action will deactivate ALL of {{currentUser?.firstName}} {{currentUser?.lastName}}'s owned properties. </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="changeUserStatus(false, currentUser?.id)">Disable User</button>
                    </div>
                  </div>
                </div>
              </div>

              <!--- Users owned properties modal -->
              <div class="modal fade" id="propertyModal" tabindex="-1" aria-labelledby="label" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-scrollable">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="label">{{currentUser?.firstName}} {{currentUser?.lastName}}'s Properties</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="container-fluid" *ngFor="let p of usersOwnedProperties">
                          <div class="row mb-3" id="my-properties">
                            <div class="col-md-5">
                              <img [src]="p.firstImage" class="img-fluid img-thumbnail" alt="property-picture">
                            </div>
                            <div class="col-md-4">
                              <h5 class="d-inline">{{p.name}}</h5>
                              <ul>
                                <li>Property Type: {{p.propertyTypeDisplayName}}</li>
                                <li>Price: {{p.price}} Million HUF</li>
                                <li>City: {{p.city}}</li>
                                <li>{{p.listingTypeDisplayName}}</li>
                              </ul>
                            </div>
                            <div class="col-md-3">
                              <div class="d-grid gap-2">
                                <!-- active property buttons -->
                                <button class="btn btn-outline-success m-1"
                                        (click)="previewProperty(p.propertyId)"
                                        (keyup.enter)="previewProperty(p.propertyId)"
                                        *ngIf="p.isActiveDisplayName === 'Active'"
                                        data-bs-dismiss="modal"
                                >Preview
                                </button>
                                <button class="btn btn-outline-primary m-1"
                                        (click)="goToModifyProperty(p.propertyId)"
                                        (keyup.enter)="goToModifyProperty(p.propertyId)"
                                >Modify
                                </button>
                                <button class="btn btn-outline-danger m-1"
                                        (click)="deactivateProperty(p.propertyId, currentUser?.id)"
                                        (keyup.enter)="deactivateProperty(p.propertyId, currentUser?.id)"
                                        *ngIf="p.isActiveDisplayName === 'Active'">Deactivate
                                </button>
                                <!-- inactive property button -->
                                <button class="btn btn-outline-success m-1"
                                        (click)="activateProperty(p.propertyId, currentUser?.id)"
                                        (keyup.enter)="activateProperty(p.propertyId, currentUser?.id)"
                                        *ngIf="p.isActiveDisplayName === 'Inactive' || p.isActiveDisplayName === 'Archived'">
                                  Activate
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

        <!-- properties -->
        <div *ngSwitchCase="'Properties'">
          <h5>Manage Properties</h5>
          <div class="row border-bottom p-4" [formGroup]="filters">

            <div class="col-md-3 my-3">
              <select class="form-select" aria-label="Time period" formControlName="timePeriod">
                <option selected value="ALL">Time Period</option>
                <option value="WEEK">Past week</option>
                <option value="MONTH">Past month</option>
                <option value="YEAR">Past year</option>
              </select>
            </div>

            <div class="col-md-2 my-3">
              <select class="form-select" aria-label="Time period" formControlName="status">
                <option selected value="ALL">Status</option>
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
                <option value="Archived">Archived</option>
              </select>
            </div>

            <div class="col-md-3 my-3">
              <select class="form-select" aria-label="Time period" formControlName="listingType">
                <option selected value="ALL">Listing Type</option>
                <option value="For sale">For sale</option>
                <option value="For rent">For rent</option>
              </select>
            </div>

            <div class="col-md-3 my-3">
              <select class="form-select" aria-label="Time period" formControlName="propertyType">
                <option selected value="ALL">Property Type</option>
                <option value="House">House</option>
                <option value="Multi-family house">Multi-family house</option>
                <option value="Apartment">Apartment</option>
                <option value="Condo">Condo</option>
                <option value="Row house">Row house</option>
                <option value="Summer house">Summer house</option>
              </select>
            </div>
            <div class="col-md-1 my-3">
              <button class="btn btn-outline-success" (click)="getProperties()">Go</button>
            </div>

          </div>

          <div class="row p-4">
            <div class="container-fluid" *ngFor="let p of allProperties">
              <div class="row mb-3" id="filtered-properties">
                <div class="col-md-5">
                  <img [src]="p.firstImage" class="img-fluid img-thumbnail" alt="property-picture">
                </div>
                <div class="col-md-4">
                  <h5 class="d-inline">{{p.name}}</h5>
                  <ul>
                    <li>Property Type: {{p.propertyTypeDisplayName}}</li>
                    <li>Price: {{p.price}} Million HUF</li>
                    <li>City: {{p.city}}</li>
                    <li>{{p.listingTypeDisplayName}}</li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <div class="d-grid gap-2">
                    <!-- active property buttons -->
                    <button class="btn btn-outline-success m-1"
                            (click)="previewProperty(p.propertyId)"
                            (keyup.enter)="previewProperty(p.propertyId)"
                            *ngIf="p.isActiveDisplayName === 'Active'"
                            data-bs-dismiss="modal"
                    >Preview
                    </button>
                    <button class="btn btn-outline-primary m-1"
                            (click)="goToModifyProperty(p.propertyId)"
                            (keyup.enter)="goToModifyProperty(p.propertyId)"
                    >Modify
                    </button>
                    <button class="btn btn-outline-danger m-1"
                            (click)="deactivatePropertyNoUser(p.propertyId)"
                            (keyup.enter)="deactivatePropertyNoUser(p.propertyId)"
                            *ngIf="p.isActiveDisplayName === 'Active'">Deactivate
                    </button>
                    <!-- inactive property button -->
                    <button class="btn btn-outline-success m-1"
                            (click)="activatePropertyNoUser(p.propertyId)"
                            (keyup.enter)="activatePropertyNoUser(p.propertyId)"
                            *ngIf="p.isActiveDisplayName === 'Inactive' || p.isActiveDisplayName === 'Archived'">
                      Activate
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
