<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerTitle1" data-bs-target="#registerModal" data-bs-toggle="modal">
          Register</h5>
        <h5 class="modal-title" id="loginTitle1" data-bs-target="#loginModal" data-bs-toggle="modal"
            (click)="goToLogin()">Login</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="user">
          <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="pass">Password</label>
            <input type="password" class="form-control" id="pass" placeholder="Password" formControlName="password">
          </div>
          <div class="form-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" placeholder="First Name" formControlName="firstName">
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" placeholder="Last Name" formControlName="lastName">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onRegister()" data-dismiss="modal">Register</button>
      </div>
    </div>
  </div>
</div>
