<div class="container-fluid mt-3 mb-3" style="height: 50vh;">
  <!-- Search and filtering buttons section -->
  <div class="mb-4 d-flex justify-content-between align-items-start">
    <div class="d-flex flex-column flex-md-row">

      <!-- Search input -->
      <div class="search-container mx-2 mb-2 mb-md-0">
        <app-search-city></app-search-city>
      </div>

      <div class="dropdown-container mx-0 mb-2 mb-md-0">
        <button class="btn btn-outline-secondary dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false">
          <ng-container *ngIf="isFilterListingTypeApplied">{{ selectedFilterOptionListingType }}</ng-container>
          <ng-container *ngIf="!isFilterListingTypeApplied">For sale or rent?</ng-container>
        </button>
        <div class="dropdown-menu" (click)="preventDropdownCollapse($event)">
          <div class=" form-check custom-form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                   (click)="setFilterOptionListingType('For sale'); applyFilterListingType()">
            <label class="form-check-label" for="flexRadioDefault1">
              For sale
            </label>
          </div>
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                   (click)="setFilterOptionListingType('For rent'); applyFilterListingType()">
            <label class="form-check-label" for="flexRadioDefault2">
              For rent
            </label>
          </div>
          <div class="button-container">
            <button class="btn btn-outline-success mt-2 custom-apply-button" type="submit">Apply</button>
          </div>
        </div>
      </div>

      <div class="dropdown-container mx-0 mb-2 mb-md-0">
        <button class="btn btn-outline-secondary dropdown-toggle mx-2" data-bs-toggle="dropdown" aria-expanded="false">
          Home type {{ isFilterPropertyTypeApplied ? ' (' + selectedPropertyTypes.length + ')' : '' }}
        </button>
        <div class="dropdown-menu" (click)="preventDropdownCollapse($event)">
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault"
                   [checked]="deselectAllChecked"
                   (click)="toggleSelectAll()">
            <label class="form-check-label" for="flexRadioDefault">
              {{ deselectAllChecked ? 'Deselect All' : 'Select All' }}
            </label>
          </div>
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked0" [checked]="houseChecked"
                   (click)="togglePropertyType('House')">
            <label class="form-check-label" for="flexCheckChecked0">
              House
            </label>
          </div>
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1"
                   [checked]="multiFamilyHouseChecked"
                   (click)="togglePropertyType('Multi-family house')">
            <label class="form-check-label" for="flexCheckChecked1">
              Multi-family house
            </label>
          </div>
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" [checked]="apartmentChecked"
                   (click)="togglePropertyType('Apartment')">
            <label class="form-check-label" for="flexCheckChecked2">
              Apartment
            </label>
          </div>
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" [checked]="condoChecked"
                   (click)="togglePropertyType('Condo')">
            <label class="form-check-label" for="flexCheckChecked3">
              Condo
            </label>
          </div>
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4" [checked]="rowHouseChecked"
                   (click)="togglePropertyType('Row house')">
            <label class="form-check-label" for="flexCheckChecked4">
              Row house
            </label>
          </div>
          <div class="form-check custom-form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked5"
                   [checked]="summerHouseChecked"
                   (click)="togglePropertyType('Summer house')">
            <label class="form-check-label" for="flexCheckChecked5">
              Summer house
            </label>
          </div>
          <div class="button-container">
            <button class="btn btn-outline-success mt-2 custom-apply-button" type="submit">Apply
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row g-4">

    <!--Map-->
    <div class="col-md-6 d-none d-md-block">
      <div class="card border-0">
        <div class="card-body p-0">
          <app-map></app-map>
        </div>
      </div>
    </div>

    <!-- Right side content with title, search result, sorting options, and small cards -->
    <div class="col-12 col-md-6">
      <div class="mb-4">
        <!-- Title section -->
        <h1 class="mb-0">Your Property Listings</h1>

        <!-- Search results and sorting options section -->
        <div class="d-flex justify-content-between align-items-center mb-2">
          <span class="mr-2">{{commonFilteredProperties.length}} results</span>

          <div>
            <div class="dropdown-center">
              <button #dropdownBtn class="btn btn-outline-secondary dropdown-toggle" type="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                Sort by: {{selectedSortingOption}}
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#"
                       (click)="sortByActivatedAtDescending($event); closeDropdown()">Newest</a></li>
                <li><a class="dropdown-item" href="#" (click)="sortByPriceDescending($event); closeDropdown()">Price
                  (High to Low)</a></li>
                <li><a class="dropdown-item" href="#" (click)="sortByPriceAscending($event); closeDropdown()">Price
                  (Low to High)</a></li>
                <li><a class="dropdown-item" href="#"
                       (click)="sortByFloorAreaDescending($event); closeDropdown()">Sqm(Large to Small)</a></li>
                <li><a class="dropdown-item" href="#"
                       (click)="sortByFloorAreaAscending($event); closeDropdown()">Sqm (Small to Large)</a></li>
                <li><a class="dropdown-item" href="#"
                       (click)="sortByBedroomsDescending($event); closeDropdown()">Bedrooms</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <!-- Small cards section with scrollbar -->
      <div class="row g-4 scrollable-cards" [ngClass]="{'disabled-cards': !deselectAllChecked && !anyCheckboxChecked}">

        <div *ngFor="let property of commonFilteredProperties" class="col-12 col-md-6">
          <div id="property-card" class="card small-card" (click)="goToDetails(property.propertyId)"
               style="cursor: pointer;">
            <img src="{{property.images[0]}}" class="card-img-top" alt="image">
            <!--          &lt;!&ndash; Carousel component within the card - but it is not working!!! &ndash;&gt;-->
            <!--          <app-carousel class="carousel" [images]="property.images"></app-carousel>-->

            <div class="card-body">
              <h5>
                <span class="currency">HUF</span>
                <span class="price">{{property.price  | number:'1.0-0'}} Million</span>
                <br>
                <span class="per-sqm">(HUF {{ ((property.price / property.floorArea) * 1000000) | number:'1.0-0' }}/sqm)</span>
              </h5>
              <div class="activated-at"> {{property.formattedActivatedAt}}</div>
              <div class="details-list">
                {{property.floorArea | number:'1.0-0'}} sqm |
                {{property.numberOfBedrooms}} bdr |
                {{property.numberOfBathrooms}} ba |
                {{property.propertyTypeDisplayName}} {{property.listingTypeDisplayName.toLowerCase()}}
              </div>
              <h6 class="city-name">{{property.city}}, {{property.name}}</h6>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</div>
