<div class="container">
  <div class="row">

    <!-- SIDEBAR -->
    <div class="col-sm-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-4">
          <button class="btn" (click)="showAccountDetails()">My Account</button>
          <ul>
            <li>
              <button class="btn" (click)="showEmailChangePage()">Change email</button>
            </li>
            <li>
              <button class="btn" (click)="showPasswordChangePage()">Change password</button>
            </li>
            <li>
              <button class="btn" (click)="showProfilePictureForm()">Profile Picture</button>
            </li>
          </ul>
        </li>
        <li class="list-group-item p-4">
          <button class="btn" (click)="showMyProperties()">My Properties</button>
        </li>
        <li class="list-group-item p-4">
          <button class="btn">Saved Properties</button>
        </li>
        <li class="list-group-item p-4">
          <button class="btn" (click)="logOut()">Logout</button>
        </li>
      </ul>
    </div>

    <!-- ACTIVE PAGE -->
    <div class="col-sm-9">
      <div class="container-fluid p-4" [ngSwitch]="activePage">

        <!-- my account -->
        <div *ngSwitchDefault class="row" id="my-account">
          <h5>My Account Details</h5>
          <div class="col-sm-5">
            <img [src]="myAccount.profilePicture" alt="profile picture" class="img-fluid img-thumbnail">
          </div>
          <div class="col-sm-7">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{myAccount.email}}</li>
              <li class="list-group-item">{{myAccount.firstName}} {{myAccount.lastName}}</li>
            </ul>
          </div>
        </div>

        <!-- change email -->
        <div *ngSwitchCase="'EmailChange'" class="row" id="email-change">
          <form [formGroup]="email" class="p-4">
            <div class="form-group p-2">
              <label for="email"
                     [ngClass]="{
                    'text-danger': email.get('email').invalid && email.get('email').touched || email.get('email').errors?.serverError
                }">
                New email address
              </label>
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                     [ngClass]="{
                    'is-invalid': email.get('email').invalid && email.get('email').touched || email.get('email').errors?.serverError
                }">
              <small *ngIf="email.get('email').errors?.serverError" class="text-danger">
                {{email.get('email').errors['serverError']}}
              </small>
              <small
                class="text-danger"
                *ngIf="email.get('email').invalid && email.get('email').touched && !email.get('email').errors?.serverError"
              >
                Please enter a valid email!
              </small>
              <small class="text-danger"
                     *ngIf="emailConflictMessage">
                {{emailConflictMessage}}
              </small>
              <p>Once you hit "Change Email", we will send a verification email to you. Verify your email address by
                clicking on the link in the email.
                Login again with your new email!</p>
            </div>

            <div class="p-2">
              <button type="button" class="btn btn-outline-primary" [disabled]="email.invalid" (click)="changeEmail()">
                Change Email
              </button>
            </div>
          </form>
        </div>

        <!-- my properties -->
        <div class="container-fluid" *ngFor="let p of myProperties">
          <div *ngSwitchCase="'MyProperties'" class="row mb-3" id="my-properties">
            <div class="col-sm-5">
              <img [src]="p.firstImage" class="img-fluid img-thumbnail" alt="property-picture">
            </div>
            <div class="col-sm-6">
              <h5 class="d-inline">{{p.name}}</h5>
              <ul>
                <li>Property Type: {{p.propertyTypeDisplayName}}</li>
                <li>Price: {{p.price}} Million HUF</li>
                <li>City: {{p.city}}</li>
                <li>{{p.listingTypeDisplayName}}</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <div class="d-grid gap-2">
                <!-- active property buttons -->
                <button class="btn btn-outline-success m-1"
                        (click)="previewProperty(p.propertyId)"
                        *ngIf="p.isActiveDisplayName === 'Active'">Preview
                </button>
                <button class="btn btn-outline-primary m-1"
                        *ngIf="p.isActiveDisplayName === 'Active'">Modify
                </button>
                <button class="btn btn-outline-danger m-1"
                        (click)="deactivateProperty(p.propertyId)"
                        *ngIf="p.isActiveDisplayName === 'Active'">Deactivate
                </button>
                <!-- inactive property button -->
                <button class="btn btn-outline-danger m-1"
                        (click)="activateProperty(p.propertyId)"
                        *ngIf="p.isActiveDisplayName === 'Inactive' || p.isActiveDisplayName === 'Archived'">Activate
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- change password -->
        <div *ngSwitchCase="'PasswordChange'" id="password-change">
          <form [formGroup]="password" class="p-4">
            <div class="form-group p-2">
              <label for="email"
                     [ngClass]="{
                    'text-danger': password.get('password').invalid && password.get('password').touched || password.get('password').errors?.serverError
                }">
                New password
              </label>
              <input type="password" class="form-control" id="pass" placeholder="Password" formControlName="password"
                     [ngClass]="{
                    'is-invalid': password.get('password').invalid && password.get('password').touched || password.get('password').errors?.serverError
                }">
              <small *ngIf="password.get('password').errors?.serverError" class="text-danger">
                {{password.get('password').errors['serverError']}}
              </small>
              <small
                class="text-danger"
                *ngIf="password.get('password').invalid && password.get('password').touched && !password.get('password').errors?.serverError"
              >
                Please enter a valid password!
              </small>
              <small *ngIf="password.get('password').errors?.serverError" class="text-danger">
                {{password.get('password').errors['serverError']}}
              </small>
              <p>Changing your password will require you to log in again!</p>
            </div>

            <div class="p-2">
              <button type="button" class="btn btn-outline-primary" [disabled]="password.invalid"
                      (click)="changePassword()">
                Change Password
              </button>
            </div>
          </form>
        </div>

        <!-- upload profile picture -->
        <div *ngSwitchCase="'ProfilePicture'" class="p-4">
          <form [formGroup]="profilePic">
            <label for="profile-pic">
              Upload a new profile picture
            </label>
            <input type="file" class="form-control" id="profile-pic" (change)="onFileChange($event)"
                   [ngClass]="{
                    'is-invalid': profilePic.get('file').invalid && profilePic.get('file').touched || profilePic.get('file').errors?.serverError}">
            <small *ngIf="profilePic.get('file').errors?.serverError">
              {{profilePic.get('file').errors['serverError']}}
            </small>

            <small
              class="text-danger"
              *ngIf="profilePic.get('file').invalid && profilePic.get('file').touched && !profilePic.get('file').errors?.serverError"
            >
              Please choose a valid file!
            </small>

            <button class="btn btn-outline-primary mt-3"
                    [disabled]="profilePic.invalid"
                    (click)="changeProfilePicture()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
