<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="row">

    <!-- SIDEBAR -->
    <div class="col-sm-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item p-4">
          <button class="btn"
                  (click)="showAccountDetails()"
                  (keyup.enter)="showAccountDetails()"
          >My Account
          </button>
          <ul>
            <li>
              <button class="btn"
                      (click)="showEmailChangePage()"
                      (keyup.enter)="showEmailChangePage()"
              >Change email
              </button>
            </li>
            <li>
              <button class="btn"
                      (click)="showPasswordChangePage()"
                      (keyup.enter)="showPasswordChangePage()"
              >Change password
              </button>
            </li>
            <li>
              <button class="btn"
                      (click)="showProfilePictureForm()"
                      (keyup.enter)="showProfilePictureForm()"
              >Profile Picture
              </button>
            </li>
          </ul>
        </li>
        <li class="list-group-item p-4">
          <button class="btn"
                  (click)="showMyProperties()"
                  (keyup.enter)="showMyProperties()"
          >My Properties
          </button>
        </li>
        <li class="list-group-item p-4">
          <button class="btn"
                  (click)="showMySavedProperties()"
                  (keyup.enter)="showMySavedProperties()"
          >Saved Properties
          </button>
        </li>
        <li class="list-group-item p-4">
          <button class="btn"
                  (click)="logOut()"
                  (keyup.enter)="logOut()"
          >Logout
          </button>
        </li>
      </ul>
    </div>

    <!-- ACTIVE PAGE -->
    <div class="col-sm-9">
      <div class="container-fluid p-4" [ngSwitch]="activePage">

        <!-- my account -->
        <div *ngSwitchDefault class="row" id="my-account">
          <h5>My Account Details</h5>
          <div class="col-sm-5">
            <img [src]="myAccount?.profilePicture" alt="profile picture" class="img-fluid img-thumbnail">
          </div>
          <div class="col-sm-7">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">{{myAccount?.email}}</li>
              <li class="list-group-item">{{myAccount?.firstName}} {{myAccount?.lastName}}</li>
            </ul>
          </div>
        </div>

        <!-- change email -->
        <div *ngSwitchCase="'EmailChange'" class="row" id="email-change">
          <form [formGroup]="email" class="p-4">
            <div class="form-group p-2">
              <label for="email"
                     [ngClass]="{
                    'text-danger': email.get('email').invalid && email.get('email').touched || email.get('email').errors?.serverError
                }">
                New email address
              </label>
              <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                     [ngClass]="{
                    'is-invalid': email.get('email').invalid && email.get('email').touched || email.get('email').errors?.serverError
                }">
              <small *ngIf="email.get('email').errors?.serverError" class="text-danger">
                {{email.get('email').errors['serverError']}}
              </small>
              <small
                class="text-danger"
                *ngIf="email.get('email').invalid && email.get('email').touched && !email.get('email').errors?.serverError"
              >
                Please enter a valid email!
              </small>
              <small class="text-danger"
                     *ngIf="errorMessage">
                {{errorMessage}}
              </small>
              <p>Once you hit "Change Email", we will send a verification email to you. Verify your email address by
                clicking on the link in the email.
                Login again with your new email!</p>
            </div>

            <div class="p-2">
              <button type="button"
                      class="btn btn-outline-success"
                      [disabled]="email.invalid"
                      (click)="changeEmail()"
                      (keyup.enter)="changeEmail()"
              >
                Change Email
              </button>
            </div>
          </form>
        </div>

        <!-- my properties -->
        <div class="container-fluid" *ngFor="let p of myProperties">
          <div *ngSwitchCase="'MyProperties'" class="row mb-3" id="my-properties">
            <div class="col-sm-5">
              <img [src]="p.firstImage" class="img-fluid img-thumbnail" alt="property-picture">
            </div>
            <div class="col-sm-6">
              <h5 class="d-inline">{{p.name}}</h5>
              <ul>
                <li>Property Type: {{p.propertyTypeDisplayName}}</li>
                <li>Price: {{p.price}} Million HUF</li>
                <li>City: {{p.city}}</li>
                <li>{{p.listingTypeDisplayName}}</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <div class="d-grid gap-2">
                <!-- active property buttons -->
                <button class="btn btn-outline-success m-1"
                        (click)="previewProperty(p.propertyId)"
                        (keyup.enter)="previewProperty(p.propertyId)"
                        *ngIf="p.isActiveDisplayName === 'Active'">Preview
                </button>
                <button class="btn btn-outline-primary m-1">Modify
                </button>
                <button class="btn btn-outline-info m-1"
                        (click)="showOpenHouseForm(p.propertyId)">+OpenHouse
                </button>
                <button class="btn btn-outline-danger m-1"
                        (click)="deactivateProperty(p.propertyId)"
                        (keyup.enter)="deactivateProperty(p.propertyId)"
                        *ngIf="p.isActiveDisplayName === 'Active'">Deactivate
                </button>
                <!-- inactive property button -->
                <button class="btn btn-outline-danger m-1"
                        (click)="activateProperty(p.propertyId)"
                        (keyup.enter)="activateProperty(p.propertyId)"
                        *ngIf="p.isActiveDisplayName === 'Inactive' || p.isActiveDisplayName === 'Archived'">Activate
                </button>
              </div>
            </div>
          </div>
        </div>

        <!-- change password -->
        <div *ngSwitchCase="'PasswordChange'" id="password-change">
          <form [formGroup]="password" class="p-4">
            <div class="form-group p-2">
              <label for="email"
                     [ngClass]="{
                    'text-danger': password.get('password').invalid && password.get('password').touched || password.get('password').errors?.serverError
                }">
                New password
              </label>
              <input type="password" class="form-control" id="pass" placeholder="Password" formControlName="password"
                     [ngClass]="{
                    'is-invalid': password.get('password').invalid && password.get('password').touched || password.get('password').errors?.serverError
                }">
              <small *ngIf="password.get('password').errors?.serverError" class="text-danger">
                {{password.get('password').errors['serverError']}}
              </small>
              <small
                class="text-danger"
                *ngIf="password.get('password').invalid && password.get('password').touched && !password.get('password').errors?.serverError"
              >
                Please enter a valid password!
              </small>
              <small class="text-danger"
                     *ngIf="errorMessage">
                {{errorMessage}}
              </small>
              <p>Changing your password will require you to log in again!</p>
            </div>

            <div class="p-2">
              <button type="button" class="btn btn-outline-success" [disabled]="password.invalid"
                      (click)="changePassword()"
                      (keyup.enter)="changePassword()"
              >
                Change Password
              </button>
            </div>
          </form>
        </div>

        <!-- upload profile picture -->
        <div *ngSwitchCase="'ProfilePicture'" class="p-4">
          <form [formGroup]="profilePic">
            <label for="profile-pic">
              Upload a new profile picture
            </label>
            <input type="file" class="form-control" id="profile-pic" (change)="onFileChange($event)">

            <small class="text-danger"
                   *ngIf="errorMessage">
              {{errorMessage}}
            </small>
            <br>
            <button class="btn btn-outline-success mt-3"
                    [disabled]="profilePic.invalid"
                    (click)="changeProfilePicture()"
                    (keyup.enter)="changeProfilePicture()"
            >Submit
            </button>
          </form>
        </div>

        <!-- saved properties -->
        <div class="container-fluid" *ngFor="let ps of mySavedProperties">
          <div *ngSwitchCase="'MySavedProperties'" class="row mb-3" id="my-saved-properties">
            <div class="col-sm-5">
              <img [src]="ps.firstImage" class="img-fluid img-thumbnail" alt="property-picture">
            </div>
            <div class="col-sm-6">
              <h5 class="d-inline">{{ps.name}}</h5>
              <ul>
                <li>Property Type: {{ps.propertyTypeDisplayName}}</li>
                <li>Price: {{ps.price}} Million HUF</li>
                <li>City: {{ps.city}}</li>
                <li>{{ps.listingTypeDisplayName}}</li>
              </ul>
            </div>
            <div class="col-sm-1">
              <div class="d-grid gap-2">
                <!-- property buttons -->
                <button class="btn btn-outline-success m-1"
                        (click)="previewProperty(ps.propertyId)"
                        (keyup.enter)="previewProperty(ps.propertyId)"
                >Preview
                </button>
                <button class="btn btn-outline-info m-1"
                        (click)="showOpenHouseList(ps.propertyId)"
                        (keyup.enter)="showOpenHouseList(ps.propertyId)"
                >ShowTours
                </button>

              </div>
            </div>
          </div>
        </div>

        <!-- create a new open house  -->
        <div *ngSwitchCase="'OpenHouse'" class="p-4">
          <form [formGroup]="openHouse">
            <label for="property-id">
              Property name
            </label>
            <select class="form-control" id="property-id" formControlName="propertyId">
              <option value="" selected disabled>{{getSelectedPropertyName()}}</option>
              <option *ngFor="let property of myProperties" [value]="property.propertyId">
                {{ property.name }}
              </option>
            </select>


            <br>
            <label for="from-time">
              Start date and time
            </label>
            <input type="datetime-local" class="form-control" id="from-time"
                   formControlName="fromTime"
                   [ngClass]="{
                    'is-invalid': openHouse.get('fromTime').invalid && openHouse.get('fromTime').touched || openHouse.get('fromTime').errors?.serverError} ">
            <small *ngIf="openHouse.get('fromTime').errors?.serverError">
              {{openHouse.get('fromTime').errors['serverError']}}
            </small>

            <small
              class="text-danger"
              *ngIf="openHouse.get('fromTime').invalid && openHouse.get('fromTime').touched && !openHouse.get('fromTime').errors?.serverError  && !openHouse.get('fromTime').hasError('dateInPast')"
            >
              Please enter a date and time!
            </small>

            <small
              class="text-danger"
              *ngIf="openHouse.get('fromTime').hasError('dateInPast') && openHouse.get('fromTime').touched">
              The start date cannot be earlier than same time tomorrow.
            </small>

            <br>
            <label for="to-time">
              End date and time
            </label>
            <input type="datetime-local" class="form-control" id="to-time"
                   formControlName="toTime"
                   [ngClass]="{
                    'is-invalid': openHouse.get('toTime').invalid && openHouse.get('toTime').touched || openHouse.get('toTime').errors?.serverError}">
            <small *ngIf="openHouse.get('toTime').errors?.serverError">
              {{openHouse.get('toTime').errors['serverError']}}
            </small>

            <small
              class="text-danger"
              *ngIf="openHouse.get('toTime').invalid && openHouse.get('toTime').touched && !openHouse.get('toTime').errors?.serverError && !openHouse.get('toTime').hasError('dateInPast')"
            >
              Please enter a date and time!
            </small>

            <small
              class="text-danger"
              *ngIf="openHouse.get('toTime').hasError('dateInPast') && openHouse.get('toTime').touched">
              The start date cannot be earlier than same time tomorrow.
            </small>

            <br>
            <label for="max-participants">
              Maximum number of participants
            </label>
            <input type="number" class="form-control" id="max-participants"
                   formControlName="maxParticipants"
                   [ngClass]="{
                    'is-invalid': openHouse.get('maxParticipants').invalid && openHouse.get('maxParticipants').touched || openHouse.get('maxParticipants').errors?.serverError}">
            <small *ngIf="openHouse.get('maxParticipants').errors?.serverError">
              {{openHouse.get('maxParticipants').errors['serverError']}}
            </small>

            <small
              class="text-danger"
              *ngIf="openHouse.get('maxParticipants').invalid && openHouse.get('maxParticipants').touched && !openHouse.get('maxParticipants').errors?.serverError"
            >
              Please enter a number between 1-20!
            </small>

            <button class="btn btn-outline-success mt-3"
                    (click)="createOpenHouse()"
                    (keyup.enter)="createOpenHouse()"
            >Add
            </button>
          </form>

          <div class="text-info-emphasis justify-content-center" *ngIf="emailSent">
            {{emailSent}}
          </div>

        </div>

        <!-- show open house list  -->
        <div class="container-fluid">
          <div *ngSwitchCase="'OpenHouseList'" class="p-4">
            <h6 class="text-left">A property neve</h6>
            <hr>
            <table class="table" style="font-size: 0.9rem;">
              <thead>
              <tr class="table">
                <th scope="col" class="w-25">From</th>
                <th scope="col" class="w-25">To</th>
                <th scope="col">Free Places</th>
                <th scope="col">Places to book</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let o of openHouseList">
                <td>{{o.fromTime}}</td>
                <td>{{o.toTime}}</td>
                <td>{{o.maxParticipants - o.currentParticipants}}</td>
                <td>
                  <form>
                    <input type="number" class="form-control" id="places-to-book"
                           formControlName="placesToBook">
                  </form>
                </td>
                <td>
                    <button class="btn btn-outline-info" (click)="bookATour(o.openHouseId)">Book</button>
                </td>
              </tr>
              </tbody>
            </table>


          </div>
        </div>

      </div>
    </div>
  </div>
</div>
