<!--<div class="container-fluid">-->
<!--  &lt;!&ndash; start:real estates detail &ndash;&gt;-->
<!--  <div class="row justify-content-center" id="real-estates-detail">-->
<!--    <div class="col-5 p-0">-->
<!--      <div class="panel panel-default">-->
<!--        <div class="panel-body">-->
<!--          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="col-12 px-1">-->

<!--          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="col-6 p-1">-->
<!--          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="col-6 p-1">-->
<!--          <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="col-6 p-1">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-3 p-0">-->
<!--      <div class="panel">-->
<!--        <div class="panel-body">-->
<!--          <table class="table border border-0 border-bottom">-->
<!--            <tr class="col">-->
<!--              <td class="">-->
<!--                <img src="assets/pfy.png" draggable="false" alt="pfy logo" style="max-height: 5rem;">-->
<!--              </td>-->
<!--              <td>-->
<!--                <input id="property-save" name="property-save" class="btn btn-danger" type="button" value="💚Save"-->
<!--                       (click)="null">-->
<!--              </td>-->
<!--              <td style="text-align: end">-->
<!--                <input value="X" type="button" class="btn btn-secondary">-->
<!--              </td>-->
<!--            </tr>-->
<!--          </table>-->
<!--          <div class="property-details-inline">-->
<!--            <h2>$100,000</h2>-->
<!--            <ul class="px-4">-->
<!--              <li class="px-2">4 bd</li>-->
<!--              <li class="px-2">2 ba</li>-->
<!--              <li class="px-2">230 m<sup>2</sup></li>-->
<!--            </ul>-->
<!--            <p style="padding-top: 0.5rem; font-size: 1.25rem;">1056 Budapest, Irányi u. 3. III. em.</p>-->
<!--            <div style="display: flex; justify-content: center" class="border-0 border-bottom py-2">-->
<!--              <input type="button" class="btn btn-success text-light justify-content-center" value="Request a tour">-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid">
  <button type="button" id="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
          style="display: none">
    Launch details modal
  </button>
</div>

<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="container-fluid">
          <div class="row p-0">
            <div class="col-7 p-0">
              <img [src]="property.images[0]" class="col-12 px-1" alt="feature-image" id="feature-img">
            </div>


            <div class="col-5 p-0 sticky-top">
              <div class="position-relative">
                <table class="table border border-0 border-bottom">
                  <tr class="col">
                    <td class="">
                      <img src="assets/pfy.png" draggable="false" alt="pfy logo"
                           style="max-height: 5rem;">
                    </td>
                    <td>
                      <input id="property-save" name="property-save" class="btn btn-danger"
                             type="button" value="💚Save"
                             (click)="null">
                    </td>
                    <td style="text-align: end">
                      <button type="button" class="btn-close mx-auto" data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </td>
                  </tr>
                </table>
                <div class="property-details-inline">
                  <h2>${{property.priceHistory[0]}}</h2>
                  <ul class="px-4">
                    <li class="px-2">{{property.numberOfBedrooms}} bd</li>
                    <li class="px-2">{{property.numberOfBathrooms}} ba</li>
                    <li class="px-2">{{property.floorArea}} m<sup>2</sup></li>
                  </ul>
                  <p style="padding-top: 0.5rem; font-size: 1.25rem;">{{property.address}}</p>
                  <div style="display: flex; justify-content: center"
                       class="border-0 border-bottom py-2">
                    <input type="button" class="btn btn-success text-light justify-content-center"
                           value="Request a tour">
                  </div>
                </div>

                <div style="text-align: center;" class="">
                  <h2>{{property.name}}</h2>
                  <br>
                  <h6>{{property.description}} Until recently, the prevailing view assumed lorem ipsum was born as a
                    nonsense text. “It's not Latin, though it looks like it, and it actually says nothing,” Before &
                    After magazine answered a curious reader, “Its ‘words’ loosely approximate the frequency with which
                    letters occur in English, which is why at a glance it looks pretty real.”</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row p-0">
            <div class="col-7 p-0">
              <img *ngFor="let image of property.images" [src]="image" class="col-6 p-1"
                   id="property-img">
            </div>

            <div id="property-details-overview" class="col-5 p-0 pt-1">
              <ul class="list-group">
                <li class="list-group-item"><i class="fa-solid fa-house"></i> {{property.propertyType}}
                </li>
                <li class="list-group-item"><i
                  class="fa-solid fa-temperature-arrow-up"></i> {{property.heatingType}}
                  heating
                </li>
                <li class="list-group-item" *ngIf="property.airConditioning"><i
                  class="fa-solid fa-temperature-arrow-down"></i> AC: <i class="fa-solid fa-check"
                                                                         style="color: green;"></i>
                </li>
                <li class="list-group-item" *ngIf="!property.airConditioning"><i
                  class="fa-solid fa-temperature-arrow-down"></i> AC: <i class="fa-solid fa-xmark"
                                                                         style="color: red;"></i>
                </li>
                <li class="list-group-item"><i class="fa-solid fa-money-bill-transfer"></i> Price
                  history:
                </li>
                <ul class="list-group">
                  <li class="mx-0 list-group-item"
                      *ngFor="let price of property.priceHistory">{{price}}</li>
                  <li class="mx-auto">-</li>
                </ul>
              </ul>

              <div class="map-container">
                <div class="map-frame">
                  <div id="map"></div>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
