<div class="container">
  <div class="row">

    <!-- IMAGES -->
    <div class="col-md-6 p-4 d-none d-md-block">
      <!-- images -->
      <div class="row m-1" *ngFor="let image of property.images">
        <img [src]="image" alt="property image" class="img-fluid img-thumbnail" id="property-img">
      </div>
    </div>
    <!-- images on mobile -->
    <div class="col-12 d-md-none">
      <div id="carousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="carousel-item" *ngFor="let cImage of property.images; let i = index"
               [ngClass]="{'active': i == 0 }">
            <img [src]="cImage" class="d-block w-100 img-fluid img-thumbnail" alt="property-image">
<div class="container-fluid">
  <div class="row p-0">

    <div class="p-0 col-sm-5">
      <div class="card">
        <div class="card-header p-0">
          <div class="table-responsive">
            <table class="table border border-0">
              <tr class="col">
                <td class="">
                  <img src="assets/pfy.png" draggable="false" alt="pfy logo"
                       style="max-height: 5rem; background-color: transparent">
                </td>
                <td>
                  <input id="property-save" name="property-save" class="btn btn-danger"
                         type="button" value="💚Save"
                         (click)="saveToFavourites()">
                </td>
                <td style="text-align: end">
                  <button type="button" id="back-button" (click)="goBackToListPage()"
                          style="background-color: transparent">
                    <i class="fa-solid fa-arrow-left" style="background-color: transparent"></i></button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="col-md-6 p-4">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <h2>{{property.name}}</h2>
        </li>
        <li class="list-group-item">
          <p>{{property.description}}</p>
        </li>
        <li class="list-group-item d-grid gap-2 d-inline-flex justify-content-center">
          <button class="btn btn-outline-primary">Book a tour</button>
          <button *ngIf="!property.savedByUser" class="btn btn-outline-success"
                  (click)="saveToFavourites(true)" (keyup.enter)="saveToFavourites(true)">&#9825; Save
          </button>
          <button *ngIf="property.savedByUser" class="btn btn-success"
                  (click)="saveToFavourites(false)" (keyup.enter)="saveToFavourites(false)">&#9825; Saved
          </button>
        </li>

        <!-- property feature list -->
        <li class="list-group-item">
          <ul class="list-group">
            <li class="list-group-item"><i class="fa-solid fa-house"></i> {{property.propertyType}}
            </li>
            <li class="list-group-item"><i
              class="fa-solid fa-temperature-arrow-up"></i> {{property.heatingType}}
              heating
            </li>
            <li class="list-group-item" *ngIf="property.airConditioning"><i
              class="fa-solid fa-temperature-arrow-down"></i> AC: <i class="fa-solid fa-check"
                                                                     style="color: green;"></i>
            </li>
            <li class="list-group-item" *ngIf="!property.airConditioning"><i
              class="fa-solid fa-temperature-arrow-down"></i> AC: <i class="fa-solid fa-xmark"
                                                                     style="color: red;"></i>
            </li>
            <li class="list-group-item"><i class="fa-solid fa-money-bill-transfer"></i> Price
              history:
            </li>

            <!-- price history -->
            <ul class="list-group">
              <li class="mx-0 list-group-item"
                  *ngFor="let price of property.priceHistory">{{price}}
              </li>
            </ul>
          </ul>
        </li>

        <!-- map container -->
        <li class="list-group-item">
          <div class="map-container">
            <div id="map"></div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
