.property-details-inline ul {
  display: inline;
}

.property-details-inline li {
  display: inline;
}

.property-details-inline h2 {
  display: inline;
}

#feature-img {

}

#property-img {
  height: 15rem;
  width: 20.45rem;
}
