body {
  overflow-x: hidden;
  margin: 0;
}

.custom-container {
  padding-left: 0px; /* Adjust as needed */
  padding-right: 0px; /* Adjust as needed */
}

/* Image and filter box*/
.background-image-container {
  position: relative;
  max-width: 100%;
  height: 55vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.search-heading {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 2em; /* 2x the text size instead of 55px*/
  color: #ffffff;
  text-shadow: 2px 2px #757575;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide any overflow beyond the container */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflowed text */
  max-width: 100%;
}

.search-box-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* horizontal scrolling */
.container {
  inline-size: min(100% - 4rem, 70rem);
  margin-inline: auto auto;
  overflow: hidden;
  position: relative;
}

.flow {
  display: grid;
  gap: .5rem;
}

.section-title {
  align-self: flex-start;
  margin-left: 0;
  margin-bottom: 10px;
  padding: 4px;
}

.media-scroller-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2.5rem; /*40px*/
  margin-bottom: 2rem; /*20px*/
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.media-scroller-controls {
  display: flex;
  gap: 10px; /* gap between the buttons */
  position: absolute;
  top: 0;
  right: 0;
}


.prev-button,
.next-button {
  padding: 5px 10px;
  background-color: transparent;
  border: 1px solid #aaa;
  cursor: pointer;
  border-radius: 50%; /* Make the button circular */
  width: 40px; /* Set the width of the circular button */
  height: 40px; /* Set the height of the circular button */
  position: relative;

}

.prev-button:hover,
.next-button:hover {
  background-color: #cccc; /* Customize button hover styles as needed */
}


.media-scroller::-webkit-scrollbar {
  width: 0.1rem; /* Set the scrollbar width to a very small value */
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem; /*gap btw each element*/
  grid-auto-columns: 20%; /* how many elements?*/
  padding: 0;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  margin-top: 20px;
  scrollbar-width: none;
  width: calc(100% - 12rem);
  margin-inline: auto;
}

/*https://mdbootstrap.com/docs/standard/extended/horizontal-list/*/

body {
  padding-top: 2rem;
}

.card-img, .card-img-bottom, .card-img-top {
  height: 180px !important;
}



@media (min-width: 576px) {
  .card-group.card-group-scroll {
    overflow-x: auto;
    flex-wrap: nowrap;
  }
}

@media (max-width: 575px) {
  .container {
    inline-size: 100%; /* Make the container take up the full width of the screen */
    margin-inline: 0; /* Remove any horizontal margin */
  }
  .card-group.card-group-scroll {
    overflow-x: auto !important; /* Enable horizontal scrolling on mobile */
  }
  .card-group.card-group-scroll::-webkit-scrollbar {
    width: 0.1rem; /* Set the width to make the scrollbar very thin */
  }
  .card-group.card-group-scroll::-webkit-scrollbar-thumb {
    background: transparent; /* Hide the scrollbar thumb */
  }
  .card-group.card-group-scroll > .card {
    flex: 0 0 100%; /* Make cards take up the full width of the screen */
    max-width: 70%; /* Prevent cards from stretching beyond the screen width */
  }
}


.card-group.card-group-scroll > .card {
  flex-basis: 25%;
  margin-top: 10px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 10px;
}

.new-label {
  position: absolute;
  top: 15px; /* Adjust the top position as needed */
  right: 15px; /* Adjust the right position as needed */
  background-color: #ff0000; /* Set the background color */
  color: #ffffff; /* Set the text color */
  padding: 5px 10px; /* Adjust the padding as needed */
  border-radius: 5px; /* Add rounded corners */
  font-weight: bold; /* Make the text bold */
  z-index: 1; /* Ensure it appears above the card content */
}


